.input{
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 15px;
}
.boton{
    color: aliceblue;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 15px;
    background-color: black;
    box-shadow: 5px 10px 15px darkgray;
}
.boton:hover{
    color: black;
    background-color: aliceblue;
}